section {
    margin: 50px;
}

.ex1 img {
    width: 300px;
    border-radius: 20px;
}

.ex2 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.ex3 img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    object-fit: cover;
    object-position: center;
}

.ex4 input {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-color: lightgrey;
    border-style: solid;
}

.ex5 img {
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-bottom: 20px;
}
.ex5 input {
    display: flex;
    width: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 18px;
    border-radius: 250px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.ex6 {
    font-family: Arial;
}

.ex6 label {
    color: grey;
}

.ex6 div {
    margin-top: 10px;
}

.ex6 input {
    width: 350px;
    height: 30px;
    border-color: rgb(77, 76, 76);
    border-style: solid;
    border-radius: 4px;
}

.ex6 p {
    color: rgb(112, 112, 112);
    font-size: 14px;
}

.ex6 button {
    width: 357px;
    height: 50px;
    color: white;
    background-color: #2D60A9;
    border-radius: 25px;
    border-style: none;
    font-size: 18px;
}

.ex7 {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.ex7 img {
    height: 60px;
    width: 60px;
    border: 0;
    vertical-align: middle;
    border-radius: 30px;
    object-fit: cover;
}

.ex7 input {
    vertical-align: middle;
    border-style: none;
    margin: 10px;
    font-size: 20px;
    width: 300px;
}

.ex7 input:focus {
    outline: none;
    color: grey;
}

.ex7 button {
    vertical-align: middle;
    border-style: none;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: #4E96D9;
    font-size: 15px;
    font-weight: bold;
}

.ex8a input {
    display: block;
    margin: 4px 0;
}

.ex8b p {
    display: inline-block;
    width: 230px;
    vertical-align: middle;
}

.ex8b button {
    vertical-align: middle;
}

.ex8d input {
    width: 115px;
    padding: 12px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightgrey;
    font-size: 16px;
}
.ex8d .first-name {
    margin-bottom: 10px;
}

.ex8d .email {
    display: block;
    width: 262px;
}

.ex8d button {
    margin-top: 10px;
    width: 290px;
    padding: 12px;
    border-style: none;
    color: white;
    background-color: #4280ED;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.ex8e {
    font-family: Arial;
}

.ex8e h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.ex8e .pickup {
    display: block;
    margin-bottom: 5px;
    width: 320px;
    border: none;
    background-color: #F3F2F3;
    padding: 15px 15px;
    font-size: 16px;
}

.ex8e .destination {
    width: 320px;
    display: block;
    margin-bottom: 30px;
    border: none;
    background-color: #F3F2F3;
    padding: 15px 15px;
    font-size: 16px;
}

.ex8e .now {
    border-style: none;
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    margin-right: 20px;
    cursor: pointer;
}

.ex8e .later {
    border-style: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

.cat {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 200px;
    border-style: dotted;
    border-width: 5px;
}

.freyeslox {

}

.freyeslox h1 {
    
}